@use "../../styles.scss" as styles;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;
    flex-direction: column;

    .title {
      margin-bottom: 5px;
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 36px;
      letter-spacing: -1px;
      color: styles.$black;
    }

    .invoice__number {
      color: styles.$light-gray-purple;
    }

    .invoice__number:nth-of-type(2) {
      display: none;
    }

    @media screen and (max-width: 560px) {
      .invoice__number:nth-of-type(1) {
        display: none;
      }

      .invoice__number:nth-of-type(2) {
        display: inline;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;

    .add__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      padding: 8px;
      width: max-content;
      background: styles.$purple;
      border-radius: 24px;
      width: 150px;
      height: 48px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background: #9277ff;
      }

      .invoice {
        color: styles.$white;
        font-style: normal;
        font-weight: 700;
        // font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.25px;
      }

      .invoice:nth-of-type(1) {
        display: inline;
      }
      .invoice:nth-of-type(2) {
        display: none;
      }

      .plus {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: styles.$white;
      }

      @media screen and (max-width: 560px) {
        width: max-content;

        .invoice:nth-of-type(1) {
          display: none;
        }

        .invoice:nth-of-type(2) {
          display: inline;
        }
      }
    }
  }

  @media screen and (max-width: 300px) {
    flex-direction: column;

    .left {
      flex-direction: row;
      gap: 2rem;
      align-items: center;
    }
  }
}
