<main>
  <app-nav-bar></app-nav-bar>
  <app-home-nav></app-home-nav>

  <section class="container">
    <img src="../../assets/illustration-empty.svg" alt="empty" />
    <div class="text">
      <p class="nothing">There is nothing here</p>
      <p class="create">
        Create an invoice by clicking the <span>New Invoice</span> button and
        get started
      </p>
      <p class="create mobile">
        Create an invoice by clicking the <span>New</span> button and get
        started
      </p>
    </div>
  </section>
</main>
