@use "../../styles.scss" as styles;

main {
  display: flex;
  flex-direction: column;
  gap: 65px;
  width: 730px;
  margin-inline: auto;
  padding-bottom: 72px;

  @media screen and (max-width: 900px) {
    width: 650px;
    margin-right: 4%;
  }
  @media screen and (max-width: 768px) {
    padding-top: 32px;
    width: 672px;
    margin: 0;
    margin-inline: auto;
  }

  @media screen and (max-width: 600px) {
    width: calc(100vw - 24px);
  }

  .container {
    display: flex;
    flex-direction: column;

    .go-back {
      display: flex;
      gap: 23.6px;
      align-items: center;
      width: 81px;
      height: 15px;
      border: none;
      background: transparent;
      cursor: pointer;

      p {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.25px;
        color: styles.$black;
      }
    }

    .status__container {
      height: 88px;
      background: styles.$white;
      box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
      border-radius: 8px;
      margin-top: 32px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: 32px;

      .status {
        width: 159px;
        height: 40px;
        display: flex;
        align-items: center;
        gap: 16px;

        &__text {
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: -0.25px;
          color: styles.$purple-dark;
        }

        &__details {
          width: 104px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          background: rgba(255, 145, 0, 0.06);
          color: styles.$gold;
          height: 100%;
          border-radius: 6px;

          .circle {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: styles.$gold;
          }
        }

        @media screen and (max-width: 600px) {
          width: 100%;
          gap: 0;
          justify-content: space-between;
        }
      }

      .actions {
        display: flex;
        gap: 8px;
        height: 48px;

        .edit-btn {
          width: 73px;
          background: #f9fafe;
          border: none;
          border-radius: 24px;
          font-weight: 700;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: -0.25px;
          color: styles.$light-purple;
          cursor: pointer;
        }

        .delete-btn {
          @extend .edit-btn;
          background: styles.$red;
          color: styles.$white;
          width: 89px;
        }

        .paid-btn {
          @extend .delete-btn;
          background: styles.$purple;
          width: 131px;
        }

        @media screen and (max-width: 600px) {
          position: fixed;
          left: 0;
          bottom: 0;
          background: styles.$white;
          width: 100vw;
          height: 91px;
          padding: 21px 5%;
          margin: 0;
          gap: 0;
          justify-content: space-evenly;
          box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
        }
      }
    }

    .items-details {
      margin-top: 24px;
      padding: 32px;
      background: styles.$white;
      box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
      border-radius: 8px;

      &__top-section {
        display: flex;
        justify-content: space-between;

        .id-description {
          display: flex;
          flex-direction: column;
          gap: 8px;

          .id {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.8px;
            color: styles.$light-gray-purple;

            span {
              color: styles.$black;
            }
          }

          .description {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: -0.25px;
            color: styles.$light-purple;
          }
        }

        .address {
          font-weight: 500;
          font-size: 11px;
          line-height: 18px;
          text-align: right;
          letter-spacing: -0.229167px;
          color: styles.$light-purple;
        }

        @media screen and (max-width: 600px) {
          flex-direction: column;
          gap: 30px;
          align-items: flex-start;

          .address {
            text-align: left;
          }
        }
      }

      &__middle-section {
        margin-top: 21px;
        width: 559px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .date {
          display: flex;
          flex-direction: column;
          gap: 32px;

          .invoice-date {
            display: flex;
            flex-direction: column;
            gap: 12px;

            &__text {
              font-weight: 500;
              font-size: 12px;
              line-height: 15px;
              letter-spacing: -0.25px;
              color: styles.$light-purple;
            }

            &__day {
              font-weight: 700;
              font-size: 15px;
              line-height: 20px;
              letter-spacing: -0.3125px;
              color: styles.$black;
            }
          }

          .payment-due {
            @extend .invoice-date;

            &__text {
              font-weight: 500;
              font-size: 12px;
              line-height: 15px;
              letter-spacing: -0.25px;
              color: styles.$light-purple;
            }

            &__day {
              font-weight: 700;
              font-size: 15px;
              line-height: 20px;
              letter-spacing: -0.3125px;
              color: styles.$black;
            }
          }
        }

        .recipient {
          display: flex;
          flex-direction: column;

          &__title {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: -0.25px;
            color: styles.$light-purple;
          }

          &__name {
            font-weight: 700;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: -0.3125px;
            color: styles.$black;
            margin-top: 12px;
            margin-bottom: 8px;
          }

          &__address {
            font-weight: 500;
            font-size: 11px;
            line-height: 18px;
            letter-spacing: -0.229167px;
            color: styles.$light-purple;
          }
        }

        .email {
          display: flex;
          flex-direction: column;
          gap: 12px;

          &__title {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: -0.25px;
            color: styles.$light-purple;
          }

          &__email-address {
            font-weight: 700;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: -0.3125px;
            color: styles.$black;
          }
        }

        @media screen and (max-width: 600px) {
          width: 100%;
          grid-template-columns: repeat(2, 1fr);

          .email {
            margin-top: 32px;
          }
        }
      }

      &__bottom-section {
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        overflow: hidden;
        margin-top: 48px;

        .details {
          background: #f9fafe;
          padding-top: 32px;
          padding-inline: 32px;
          padding-bottom: 40px;
          display: flex;
          flex-direction: column;
          gap: 32px;

          .item {
            display: flex;

            &__name {
              display: flex;
              flex-direction: column;
              gap: 32px;
              width: 286px;

              &__label {
                font-weight: 500;
                font-size: 11px;
                line-height: 18px;
                letter-spacing: -0.229167px;
                color: styles.$light-purple;
              }

              &__name {
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: -0.25px;
                color: styles.$black;
              }

              .quantity-price-mobile {
                display: none;
              }
            }

            &__quantity {
              display: flex;
              flex-direction: column;
              gap: 32px;
              width: max-content;
              text-align: center;
              margin-right: 15%;

              &__label {
                font-weight: 500;
                font-size: 11px;
                line-height: 18px;
                letter-spacing: -0.229167px;
                color: styles.$light-purple;
              }

              &__quantity {
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: -0.25px;
                color: styles.$light-purple;
              }
            }

            &__price {
              display: flex;
              flex-direction: column;
              gap: 32px;
              width: max-content;
              margin-right: 20%;

              &__label {
                font-weight: 500;
                font-size: 11px;
                line-height: 18px;
                letter-spacing: -0.229167px;
                color: styles.$light-purple;
                text-align: right;
              }

              &__price {
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: -0.25px;
                color: styles.$light-purple;
              }
            }

            &__total {
              display: flex;
              flex-direction: column;
              gap: 32px;
              width: max-content;

              &__label {
                font-weight: 500;
                font-size: 11px;
                line-height: 18px;
                letter-spacing: -0.229167px;
                color: styles.$light-purple;
                text-align: right;
              }

              &__total {
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: -0.25px;
                color: styles.$black;
              }
            }

            @media screen and (max-width: 600px) {
              &__name {
                gap: 0;

                &__label {
                  display: none;
                }

                .quantity-price-mobile {
                  display: flex;
                  .quantity,
                  .price {
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: -0.25px;
                    color: styles.$light-purple;
                  }
                }
              }

              &__quantity,
              &__price {
                display: none;
              }

              &__total {
                justify-content: center;
                &__label {
                  display: none;
                }
              }
            }
          }

          @media screen and (max-width: 600px) {
            padding-inline: 7%;
          }
        }

        .grand-total {
          padding-top: 24px;
          padding-bottom: 24px;
          padding-inline: 32px;
          background: styles.$black-purple;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          &__title {
            font-weight: 500;
            font-size: 11px;
            line-height: 18px;
            letter-spacing: -0.229167px;
            color: styles.$white;
          }

          &__amount {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            text-align: right;
            letter-spacing: -0.5px;
            color: styles.$white;
          }

          @media screen and (max-width: 600px) {
            padding-inline: 7%;

            &__amount {
              font-size: 20px;
            }
          }
        }
      }
    }
    @media screen and (max-width: 600px) {
      margin-bottom: 56px;
    }
  }
}
