<main>
  <app-nav-bar></app-nav-bar>
  <section class="container">
    <button class="go-back">
      <img src="../../assets/icon-arrow-left.svg" alt="go-back" />
      <p>Go back</p>
    </button>

    <div class="status__container">
      <div class="status">
        <p class="status__text">Status</p>
        <div class="status__details">
          <div class="circle"></div>
          Pending
        </div>
      </div>
      <div class="actions">
        <button class="edit-btn">Edit</button>
        <button class="delete-btn">Delete</button>
        <button class="paid-btn">Mark as Paid</button>
      </div>
    </div>
  </section>
</main>
