<main>
  <app-nav-bar></app-nav-bar>
  <section class="container">
    <button class="go-back">
      <img src="../../assets/icon-arrow-left.svg" alt="go-back" />
      <p>Go back</p>
    </button>

    <div class="status__container">
      <div class="status">
        <p class="status__text">Status</p>
        <div class="status__details">
          <div class="circle"></div>
          Pending
        </div>
      </div>
      <div class="actions">
        <button class="edit-btn">Edit</button>
        <button class="delete-btn">Delete</button>
        <button class="paid-btn">Mark as Paid</button>
      </div>
    </div>

    <div class="items-details">
      <div class="items-details__top-section">
        <div class="id-description">
          <p class="id">#<span>XM9141</span></p>
          <p class="description">Graphic Design</p>
        </div>
        <div class="address">
          19 Union Terrace <br />
          London <br />
          E13EZ <br />
          United Kingdom
        </div>
      </div>
      <div class="items-details__middle-section">
        <div class="date">
          <div class="invoice-date">
            <p class="invoice-date__text">Invoice Date</p>
            <p class="invoice-date__day">21 Aug 2021</p>
          </div>
          <div class="payment-due">
            <p class="payment-due__text">Payment Due</p>
            <p class="payment-due__day">20 Sep 2021</p>
          </div>
        </div>
        <div class="recipient">
          <p class="recipient__title">Bill To</p>
          <p class="recipient__name">Alex Grim</p>
          <div class="recipient__address">
            84 Church Way <br />
            Bradford <br />
            BD19PB <br />
            United Kingdom
          </div>
        </div>
        <div class="email">
          <p class="email__title">Sent To</p>
          <p class="email__email-address">alexgrim@mail.com</p>
        </div>
      </div>
      <div class="items-details__bottom-section">
        <div class="details">
          <div class="item">
            <div class="item__name">
              <p class="item__name__label">Item Name</p>
              <p class="item__name__name">Banner Design</p>
              <div class="quantity-price-mobile">
                <p class="quantity">1x</p>

                <p class="price">£156.00</p>
              </div>
            </div>
            <div class="item__quantity">
              <p class="item__quantity__label">QTY.</p>
              <p class="item__quantity__quantity">1</p>
            </div>
            <div class="item__price">
              <p class="item__price__label">Price</p>
              <p class="item__price__price">£156.00</p>
            </div>
            <div class="item__total">
              <p class="item__total__label">Total</p>
              <p class="item__total__total">£156.00</p>
            </div>
          </div>
        </div>
        <div class="grand-total">
          <div class="grand-total__title">Amount Due</div>
          <div class="grand-total__amount">£556.00</div>
        </div>
      </div>
    </div>
  </section>
</main>
