@use "../../styles.scss" as styles;

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .item {
    background: styles.$white;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
    border-radius: 8px;
    border: 1px solid styles.$white;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-evenly;
    height: 72px;
    align-items: center;

    &:hover {
      border-color: styles.$purple;
    }

    .id__date {
      display: flex;
      gap: 35px;
      width: 155px;
      align-items: center;
    }

    .id {
      color: styles.$light-purple;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: -0.25px;
      margin-left: -20px;

      span {
        color: styles.$black;
      }
    }

    .date {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: -0.25px;
      color: styles.$light-purple;
    }

    .name {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: -0.25px;
      color: styles.$purple-dark;
      margin-left: -35px;
    }

    .amount__status {
      display: flex;
      gap: 40px;
      align-items: center;
    }

    .amount {
      width: 73px;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      text-align: right;
      letter-spacing: -0.8px;
      color: styles.$black;
    }

    .status {
      width: 104px;
      height: 40px;
      background: rgba(255, 145, 0, 0.06);
      color: styles.$gold;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      margin-right: -23px;

      .circle {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: styles.$gold;
      }
    }

    .arrow-right {
      margin-right: -20px;
      width: 4px;
    }

    @media screen and (max-width: 480px) {
      flex-wrap: wrap;
      height: 134px;
      justify-content: baseline;
      padding: 24px;
      margin-inline: auto;

      .id__date {
        flex-direction: column;
        gap: 24px;
        align-items: flex-start;

        .id {
          margin-left: 0;
        }
      }

      .name {
        margin-left: 0;
        // margin-top: 12px;
        text-align: right;
        width: 90px;
        align-self: flex-start;
      }

      .amount__status {
        margin: 0;
        margin-inline: auto;
        width: 92%;
        justify-content: space-between;

        .amount {
          text-align: left;
        }

        .status {
          margin: 0;
        }
      }

      .arrow-right {
        display: none;
      }
    }

    @media screen and (max-width: 350px) {
      padding: 24px 12px;
    }
  }
}
