<section class="container">
  <div class="item" *ngFor="let item of jsonData">
    <div class="id__date">
      <p class="id">
        #<span>{{ item.id }}</span>
      </p>
      <p class="date">Due {{ item.paymentDue | date : "dd MMM y" }}</p>
    </div>
    <p class="name">{{ item.clientName }}</p>
    <div class="amount__status">
      <p class="amount">{{ item.total | currency : "GBP" }}</p>
      <div class="status">
        <div class="circle"></div>
        {{ item.status | titlecase }}
      </div>
    </div>
    <div class="arrow-right">
      <img src="../../assets/icon-arrow-right.svg" alt="" />
    </div>
  </div>
</section>
