@use "../../styles.scss" as styles;

main {
  width: 100vw;
  height: 100vh;
  background: rgba(17, 17, 17, 0.5);
  z-index: 10;

  .container {
    width: 50vw;
    height: 100vh;
    background: styles.$white;
    border-radius: 0px 20px 20px 0px;
    overflow: hidden;

    .invoice-title {
      padding-top: 56px;
      height: 15vh;
      background: yellow;

      h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.5px;
        color: styles.$black;
        margin-left: 20%;
      }
    }

    form {
      position: relative;
      width: calc(50vw - 20%);
      background: red;
      height: 70vh;
      padding-top: 24px;
      margin-left: 20%;
      overflow-y: scroll;

      label {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.25px;
        color: styles.$light-purple;
      }

      input {
        border: 1px solid #dfe3fa;
        border-radius: 4px;
        height: 48px;
        padding-left: 20px;
        padding-block: 16px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.25px;
        color: styles.$black;

        &::placeholder {
          font-weight: 700;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: -0.25px;
          color: styles.$black;
        }
      }

      // Scroll button styles
      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: #dfe3fa;
        border-radius: 4px;
        transition: styles.$transition;
      }

      .content {
        width: 94%;
        background: blue;

        .bill-to {
          margin-bottom: 48px;

          .title {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: -0.25px;
            color: styles.$purple;
            margin-bottom: 24px;
          }

          &__client-address {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 24px;
          }

          &__city-post-country {
            display: flex;
            gap: 24px;

            &__city,
            &__post,
            &__country {
              display: flex;
              flex-direction: column;
              gap: 10px;
              width: 152px;
            }
          }
        }

        .bill-from {
          display: flex;
          flex-direction: column;
          gap: 24px;

          &__client-name,
          &__client-email,
          &__sender-street {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }

          &__city-post-country {
            display: flex;
            gap: 24px;

            &__city,
            &__post,
            &__country {
              display: flex;
              flex-direction: column;
              gap: 10px;
              width: 152px;
            }
          }
        }

        .date-payment {
          display: flex;
          gap: 24px;
          background: yellow;
          margin-top: 48px;

          .date,
          .payment {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
          mat-form-field {
            border: none;
            padding: 0;
            height: 70px;
            background: green;
            width: 240px;

            input {
              margin: 0 !important;
              padding: 0 !important;
              border: none !important;
              background: crimson;
              height: 25px !important;
            }
          }
        }

        .description {
          display: flex;
          flex-direction: column;
          margin-top: 24px;
          gap: 10px;
        }
      }
      .overlay {
        width: 100%;
        height: 141px;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.0001) 0%,
          rgba(0, 0, 0, 0.1) 100%
        );
        // background: yellow;
        position: sticky;
        left: 0;
        bottom: 0;
        z-index: 5;
      }
    }

    .actions-section {
      height: 15vh;
      width: calc(50vw - 20%);
      background: green;
      margin-left: 20%;
      display: flex;
      align-items: center;

      .buttons {
        background: blue;
        display: flex;
        gap: 8px;
        width: 92%;

        button {
          height: 48px;
          width: 96px;
          border: none;
          border-radius: 24px;
          background: #f9fafe;
          font-weight: 700;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: -0.25px;
          color: styles.$light-purple;
        }

        button.draft {
          margin-left: 26%;
          background: styles.$black-purple;
          color: styles.$light-gray-purple;
          width: 133px;
        }

        button.send {
          width: 128px;
          background: styles.$purple;
          color: styles.$white;
        }
      }
    }
  }
}
