main {
  display: flex;
  flex-direction: column;
  gap: 65px;
  width: 730px;
  margin-inline: auto;
  padding-top: 72px;
  padding-bottom: 20px;

  @media screen and (max-width: 768px) {
    width: 672px;
  }

  @media screen and (max-width: 480px) {
    width: 95vw;
  }
}
