main {
  display: flex;
  flex-direction: column;
  gap: 65px;
  width: 730px;
  margin-inline: auto;
  padding-block: 72px;

  @media screen and (max-width: 1024px) {
    width: 650px;
    margin-right: 5%;
  }
  @media screen and (max-width: 768px) {
    width: 672px;
  }

  @media screen and (max-width: 480px) {
    width: 95vw;
  }
}
